name: Keep Backend Awake

on:
  schedule:
    - cron: "*/30 * * * *"

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping backend
        run: |
          curl -s ${{ secrets.BACKEND_URL }} > /dev/null
          echo "Last ping occured at: $(date)"
